:root {
  --TimothyMagenta: #6b0e25;
  --JennPlum: #8C5383;
  --YinBlue: #05647a;
  --SteelBlue: #507AA3;
  --GulfCoast: #559cad;
  --dorianGrey: #8BA7AC;
  --silver: #C1B2AB;
  --offWhite: #EDF6F9;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, #507AA3, #559cad, #8BA7AC ,#559cad, #507AA3);
  height: 100vh;
}

.Title {
  font-size: 3.5em;
  color: var(--TimothyMagenta);
  margin: 0px;
}