.App {
  text-align: center;
}

:root {
  --TimothyMagenta: #92374D;
  --JennPlum: #8C5383;
  --YinBlue: #4A5899;
  --SteelBlue: #507AA3;
  --GulfCoast: #559cad;
  --DorianGrey: #8BA7AC;
  --Silver: #C1B2AB;
  --OffWhite: #EDF6F9;
}