:root {
  --TimothyMagenta: #97758E;
  --JennPlum: #877F92;
  --YinBlue: #05647a;
  --SteelBlue: #507aa3;
  --GulfCoast: #559cad;
  --dorianGrey: #8ba7ac;
  --silver: #c1b2ab;
  --offWhite: #edf6f9;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom,
      #507aa3,
      #559cad,
      #8ba7ac,
      #559cad,
      #507aa3);
  height: 100vh;
}

body {
  font-family: 'Exo 2', sans-serif; /* Using the Exo 2 font */
}

h1 {
  font-family: 'Exo 2', sans-serif;; /* Using the Philosopher font */
}

.Title {
  font-size: 3.5em;
  color: var(--TimothyMagenta);
  margin: 20px;
  font-weight: bold;

}