:root {
    --TimothyMagenta: #97758E;
    --JennPlum: #877F92;
    --YinBlue: #05647a;
    --SteelBlue: #507aa3;
    --GulfCoast: #559cad;
    --dorianGrey: #8ba7ac;
    --silver: #c1b2ab;
    --offWhite: #edf6f9;
  }

  /* Div holding welcome and search book bar */
  .MyZone{
    color: var(--offWhite);
 }

 /* Buttons used to reveal offcanvas features */
.offcanvas-reveal-btn {
    border-radius: 5px;
    margin-bottom: 40px;
}

.profile-cont {
  text-align: center;
  margin-bottom: 100px;
  background: inherit; 
}






