:root {
  --TimothyMagenta: #97758E;
  --JennPlum: #877F92;
  --YinBlue: #05647a;
  --SteelBlue: #507aa3;
  --GulfCoast: #559cad;
  --dorianGrey: #8ba7ac;
  --silver: #c1b2ab;
  --offWhite: #edf6f9;
}

/* Add this to your CSS file or styling section */
.hidden {
  display: none;
}

#bookDetailCard {
  z-index: 1001;
  overflow: auto;
  padding: 2rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom,
      #507aa3,
      #559cad,
      #8ba7ac,
      #559cad,
      #507aa3);
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* consistent spacing between elements */
}

.scribbles {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem; /* consistent spacing between grid items */
  width: 70%; /* makes the content a bit centralized */
  background-color: var(--offWhite);
  padding: 1rem;
  border-radius: 8px; /* rounded edges for aesthetics */
  width: 100%;
}

.dogear-form {
  background-color: var(--JennPlum);
  width: 70%; /* keep consistent with the scribbles width */
  padding: 1rem;
  border-radius: 8px;
}

button {
  background-color: var(--TimothyMagenta);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--YinBlue);
}

textarea {
  width: 100%;
  min-height: 60px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--silver);
}

/* Additional classes for more formatting, spacing, and color consistency */
.details {
  width: 100%;
  background-color: var(--offWhite);
  padding: 1rem;
  border-radius: 8px;
}

.notes, .dogEars {
  margin-top: 1rem;
  width: 70%;
  background-color: var(--offWhite);
  padding: 1rem;
  border-radius: 8px;
}

.custom-modal-width {
  max-width: 80% !important; /* Adjust the value as needed */
}

.modal-content {
  background: linear-gradient(to bottom,
    #507aa3,
    #559cad,
    #8ba7ac,
    #559cad,
    #507aa3);
  border-radius: 0; /* Remove border radius */
}

#left-page, #right-page {
  background-color: var(--offWhite);
  border-style: groove;
}
