#suggestionBox{
background-color: var(--YinBlue);
}

#suggestions{
    background-color: var(--dorianGrey);
}

#suggestionBannerText{
    display: block;
    color: var(--offWhite);

}

@media (max-width: 576px) {
    .mobile-footer {
      position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 1000;
    }
  }