.BookEntry {
  height: 150px; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dorianGrey);
  background-color: var(--dorianGrey);
  margin-bottom: 20px;
}

#bookshelfContainer{
margin-top: 12rem;
}

#bookshelf{
position: absolute;
inset: 0;
margin: auto;
width: 60%;
height: 80%;
background-color: var(--dorianGrey);
}

/* Add your CSS classes to style the bookshelf component */
.bookshelf {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto;
  }
  
  .shelf {
    width: 23%; /* Adjust the width as needed */
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
  }
  
  .slot {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    background-color: #f9f9f9;
  }
  
  /* Additional styles as needed for book title, author, etc. */
  .slot div {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Add hover effect for slots if desired */
  .slot:hover {
    background-color: #e0e0e0;
  }
  /* Existing styles ... */

/* Add the spine style */

.BookEntry .spine {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  width: 1em;
  background-color: var(--dorianGrey);
  color: var(--TimothyMagenta);
}

/* When the book is active, it will fill the screen */
.BookEntry.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000; /* Ensure it's on top of other content */
  overflow: auto; /* In case the book content exceeds screen height */
  padding: 2rem;
  box-sizing: border-box;
}
.activeBookOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  overflow: auto;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}