:root {
  --TimothyMagenta: #97758E;
  --JennPlum: #877F92;
  --YinBlue: #05647a;
  --SteelBlue: #507aa3;
  --GulfCoast: #559cad;
  --dorianGrey: #8ba7ac;
  --silver: #c1b2ab;
  --offWhite: #edf6f9;
}

.shelf-title {
  color: var(--offWhite);
}
.BookEntry {
  position: relative;
  height: 400px; /* Adjust height based on the aspect ratio of your image */
  min-width: 100px; /* Set a specific width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.BookEntry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom; /* Adjust as needed */
}

.spine {
  position: absolute;
  bottom: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-20%, 50%) rotate(180deg); /* Center horizontally and rotate */
  font-size: 20px;
  color: var(--YinBlue);
  text-align: center;
  writing-mode: vertical-rl;
  font-weight: 300;
  width: 100%;
  min-height: 300px !important; 
  max-height: 300px !important;
  white-space: normal; /* Allow wrapping */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1; /* Ensure the spine is above the image */
}

/* Additional styles to override Bootstrap */
.BookEntry.col-1 {
  flex: 0 0 auto;
  max-width: 8.33333%;
}

.spine .fa-star {
  position: absolute;
  display: block;
  margin-right: 8px;
  margin-bottom: 0px;
  color: gold;
}

#bookshelfContainer {
  margin-top: 12rem;
}

#bookshelf {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 60%;
  height: 80%;
  background-color: var(--dorianGray);
}


/* Add your CSS classes to style the bookshelf component */
.bookshelf {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px; /* Adjust the width as needed */
  margin: 0 auto;
}

.shelf {
  width: 23%; /* Adjust the width as needed */
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}

.slot {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  background-color: #f9f9f9;
}

.BookEntry:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}

/* When the book is active, it will fill the screen */
.BookEntry.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000; /* Ensure it's on top of other content */
  overflow: auto; /* In case the book content exceeds screen height */
  padding: 2rem;
  box-sizing: border-box;
}
.activeBookOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  overflow: auto;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
