:root {
  --TimothyMagenta: #97758E;
  --JennPlum: #877F92;
  --YinBlue: #05647a;
  --SteelBlue: #507aa3;
  --GulfCoast: #559cad;
  --dorianGrey: #8ba7ac;
  --silver: #c1b2ab;
  --offWhite: #edf6f9;
}
.hidden {
  display: none;
}

#bookDetailCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001; /* Ensure it's on top of other content */
  overflow: auto;
  background-color: white; /* To ensure it covers everything beneath */
  padding: 2rem;
  box-sizing: border-box;
}
