:root {
  --TimothyMagenta: #6b0e25;
  --JennPlum: #8C5383;
  --YinBlue: #05647a;
  --SteelBlue: #507AA3;
  --GulfCoast: #559cad;
  --dorianGrey: #8BA7AC;
  --silver: #C1B2AB;
  --offWhite: #EDF6F9;
}

  
  /* body {
    background-color: var(--DorianGrey);
  } */
  
  h1 {
    color: var(--YinBlue);
  }
  
  .form-control {
    background-color: var(--offWhite);
    border: 1px solid var(--GulfCoast);
    color: var(--TimothyMagenta);
  }
  
  .form-control:focus {
    border-color: var(--YinBlue);
    box-shadow: 0 0 0 0.4rem rgba(74, 88, 153, 0.25); /* a lighter version of --YinBlue */
  }
  
  .form-label {
    color: var(--JennPlum);
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: var(--YinBlue);
    border-color: var(--TimothyMagenta);
  }
  
  .btn-primary:hover, .btn-primary:focus {
    background-color: var(--JennPlum);
    border-color: var(--JennPlum);
  }
  
  .btn-link {
    color: var(--SteelBlue);
  }
  
  .btn-link:hover, .btn-link:focus {
    color: var(--GulfCoast);
  }
  
  .form-text {
    color: var(--dorianGrey);
    font-size: 16px;
  }
  