:root {
    --TimothyMagenta: #97758E;
    --JennPlum: #877F92;
    --YinBlue: #05647a;
    --SteelBlue: #507aa3;
    --GulfCoast: #559cad;
    --dorianGrey: #8ba7ac;
    --silver: #c1b2ab;
    --offWhite: #edf6f9;
  }

.offcanvas-header{
background-color: var(--dorianGrey)!important;
width: 100%; 
display: flex;
justify-content: center;
}

.offcanvas-title {
    text-align: center;
}

.offcanvas-body {
    background-color: var(--silver);
}