:root {
    --TimothyMagenta: #97758E;
    --JennPlum: #877F92;
    --YinBlue: #05647a;
    --SteelBlue: #507aa3;
    --GulfCoast: #559cad;
    --dorianGrey: #8ba7ac;
    --silver: #c1b2ab;
    --offWhite: #edf6f9;
  }

  /* Header bar for both offcanvas areas */
.offcanvas-header{
background-color: var(--dorianGrey)!important;
width: 100%; 
display: flex;
justify-content: center;
}

/* Title in offcanvas areas, i.e. My Friends and Recent Additions */
.offcanvas-title {
    text-align: center;
}

/* Body of offcanvas area*/
.offcanvas-body {
    background-color: var(--silver);
    display: flex;
    justify-content: center;
}

/* Offcanvas area for friends specifically */
.offcanvas-friends {
    width: 300px !important;
}